@using System.IdentityModel.Tokens.Jwt;
@model IEnumerable<Practice.Models.Pair>
@using Microsoft.AspNetCore.Http
@using System.Security.Claims;
@inject IHttpContextAccessor Accessor

@{
    var jwtHandler = new JwtSecurityTokenHandler();
    string role = "nothing";
    if (Accessor.HttpContext.Session.GetString("Token") != null)
    {
        var tokenContent = jwtHandler.ReadToken(Accessor.HttpContext.Session.GetString("Token")) as JwtSecurityToken;
        role = tokenContent.Claims.First(claim => claim.Type == ClaimTypes.Role).Value;
    }
    //var email = tokenContent.Claims.First(claim => claim.Type == "email").Value;
}

@{
    ViewData["Title"] = "Table pairs";
}

<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name 1
                </th>
                <th></th>
                <th>
                    Name 2
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstPersonComment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecondPersonComment)
                </th>
                <th>
                    @if (role == "admin")
                    {
                        <form asp-controller="GeneritePair" asp-action="Post" method="post">
                            <input type="submit" value="Generite" />
                        </form>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.FirstPerson == null || item.SecondPerson == null)
                {
                    continue;
                }
                var date = item.Data.ToString("dd/MM/yyyy");
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstPerson.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstPerson.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondPerson.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondPerson.LastName)
                    </td>
                    <td>
                        @date
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstPersonComment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondPersonComment)
                    </td>
                    <td>
                        <a asp-controller="Pair" asp-action="Delete" asp-route-id="@item.PairsId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
